<nav class="navbar navbar-expand-lg navbar-dark bg-success">
  <a class="navbar-brand" href="/">Garden Concierge</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/plants">Explore</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/gardens">My Garden</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/grow_dates">My Calendar</a>
      </li>
    </ul>
    
    <span class="navbar-text">
      <%if @current_user.present?%>
      <a class="nav-link" href="/user_sign_out">Sign out</a>
      <%else%>
      <a class="nav-link" href="/user_sign_in">Sign in</a>
      <%end%>
    </span>
  </div>
</nav>